<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeS0xb15Y3XqJKb6pkObt0hNze9HcVMGw</string>
	<key>GCM_SENDER_ID</key>
	<string>258779403605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beteseb.app</string>
	<key>PROJECT_ID</key>
	<string>beteseb-89bae</string>
	<key>STORAGE_BUCKET</key>
	<string>beteseb-89bae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258779403605:ios:6512b4d20c545fa01ecbdc</string>
</dict>
</plist>